*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.wrapper{
    max-width: 1400px;
    margin: 0 auto;
    
    
}
h1{
    color: red;
    text-align: center;
    font-size: 50px;
}

header{
    background-color: black;
}
h1 img{
    text-align: center;
    width: 800px;
    margin-top: 10px;
    height: 180px;
}
h2{
    font-size: 30px;
    text-align: center;

}
article p{
    text-align: center;
    font-size: 20px;
}

nav{
    display: flex;
    justify-content: space-around;

}
li{
    display: inline-block;
    padding:  20px; 
    font-size: 30px;

}
p{
    color: white;
}
section.emperor{
    text-align: center;
    max-width: 100%;
    margin: 10px;
    padding: 10px;
}
.main-nav{
    display: flex;
    background-color: #2c333f;
    border-radius: 20px;
}
section img{
    width: 60%;
    height: 1000px;
}
h2{
    color: cornsilk;
    margin: 20px 0 20px 20px;
}
a:hover{
    color: red;
    text-decoration: underline;
}
a:focus{
    border: 3px solid rgb(207, 207, 8);
    padding: 3px;
}

a:visited{
    color: rgb(207, 207, 8);
}
a{
    color: white;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}
p{
    margin-left: 20px;
    font-family: 'Source Code Pro', monospace;;
}
.fleximg{    
    display: flex;
    justify-content: space-evenly;
}
.img1{
    object-fit: cover;
    width: 25%;
    margin: 20px;
}
.footer-nav{
    display: flex;
    justify-content: space-evenly;
    
}
footer{
    
    color: cornsilk;
}
section p{
    font-size: 20px;
}footer p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.back-story{
    letter-spacing: 1.2;
    font-size: 18;
    margin: 20px 20px;
}
.wrapper-contact{
    max-width: 1400px;
    margin: 0 auto;
    background-image: url(images/necrons.jpg);
    background-position: cover;
    background-size: cover;
    
    
}
#form-input{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0, 0.7);
    width: 500px;
    height: 500px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    
}
#name{
    font-size: 30px;
    width: 350px;
    margin: 1px 0 0 10px;
}
#email{
    font-size: 30px;
    width: 350px; 
    margin: 1px 0 0 10px;
}
textarea{
    margin: 10px;
    resize: none;
    font-size: 20px;
}
#button{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
    letter-spacing: 1.5px;
    width: 100px; 
    margin: 15px 0 0 15px;

}
label{
    font-size: 20px;
    margin:5px;
    color: rgb(7, 247, 135);
}
.chaos-gods{
    text-align: center;
    margin: 25px 0 25px 0;
}
.chaos-text{
margin: 20px 20px;
    font-size: 20px;
}
.img1{
    border: 0.5px solid white;
}

footer{
    text-align: center;
    font-size: 20px;
}

#cfooter{
    position: absolute;
    bottom: 0;
    width: 73%;    
} 
