.b1{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    padding: 50px;
    margin: 20px;
}
.b2{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    padding: 50px;
    margin: 20px;
}
.b3{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    padding: 50px;
    margin: 20px;
}
.b4{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    padding: 50px;
    margin: 20px;
}
.b5{
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    padding: 50px;
    margin: 20px;
}